<mat-tab-group>
  <!-- Balenos -->
  <mat-tab label="Balenos">
    <mat-grid-list cols="4" rowHeight="1:1">
      <!-- General -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>General</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Clorince</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Velia/General_true.JPG">
      </mat-grid-tile>

      <!-- Matières premières -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Matières premières</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Velia/raw_true.JPG">
      </mat-grid-tile>

      <!-- Vêtements -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Vêtements</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Velia/Clothe_true.JPG" alt="">
      </mat-grid-tile>

      <!-- Médicaments -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Médicaments</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Zaaria</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Velia/Medic_true.JPG">
      </mat-grid-tile>

      <!-- Nourriture -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Nourriture</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Velia/Food_true.JPG">
      </mat-grid-tile>

      <!-- Militaire -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Militaire</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Tranan Underfoe</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Velia/Milit_true.JPG">
      </mat-grid-tile>

      <!-- Luxe -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Luxe</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Marsella</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Velia/luxe_true.JPG">
      </mat-grid-tile>

      <!-- Reliques -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Reliques</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Velia/Relique_true.JPG">
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>

  <!-- Serendia -->
  <mat-tab label="Serendia">
    <mat-grid-list cols="4" rowHeight="1:1">
      <!-- General -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>General</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Heidel/Gene_true.JPG">
      </mat-grid-tile>

      <!-- Matières premières -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Matières premières</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Suita</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Heidel/Raw_true.JPG">
      </mat-grid-tile>

      <!-- Vêtements -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Vêtements</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Heidel/Clothe_true.JPG">
      </mat-grid-tile>

      <!-- Médicaments -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Médicaments</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Lara</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Heidel/Medic_true.JPG">
      </mat-grid-tile>

      <!-- Nourriture -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Nourriture</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Heidel/food_true.JPG">
      </mat-grid-tile>

      <!-- Militaire -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Militaire</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Techthon</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Heidel/Milit_true.JPG">
      </mat-grid-tile>

      <!-- Luxe -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Luxe</h1></mat-card-title>
            <mat-card-subtitle>Pnj : George Fusto</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Heidel/Luxe_true.JPG">
      </mat-grid-tile>

      <!-- Reliques -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Reliques</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Heidel/relique_true.JPG">
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>

  <!-- Calpheon -->
  <mat-tab label="Calpheon">
    <mat-grid-list cols="4" rowHeight="1:1">
      <!-- General -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>General</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Calpheon/Gene_true.JPG">
      </mat-grid-tile>

      <!-- Matières premières -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Matières premières</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Calpheon/Raw_true.JPG">
      </mat-grid-tile>

      <!-- Vêtements -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Vêtements</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Calpheon/clothe_true.JPG">
      </mat-grid-tile>

      <!-- Médicaments -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Médicaments</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Calpheon/Medic_true.JPG">
      </mat-grid-tile>

      <!-- Nourriture -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Nourriture</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Calpheon/Food_true.JPG">
      </mat-grid-tile>

      <!-- Militaire -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Militaire</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Calpheon/Mili_true.JPG">
      </mat-grid-tile>

      <!-- Luxe -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Luxe</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Calpheon/Luxe_true.JPG">
      </mat-grid-tile>

      <!-- Reliques -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Reliques</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Calpheon/Relic_true.JPG">
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>

  <!-- Mediah -->
  <mat-tab label="Mediah">
    <mat-grid-list cols="4" rowHeight="1:1">
      <!-- General -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>General</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Nelople</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Mediah/Gene-true.JPG">
      </mat-grid-tile>

      <!-- Matières premières -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Matières premières</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Quina</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Mediah/raw_true.JPG">
      </mat-grid-tile>

      <!-- Vêtements -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Vêtements</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Lucy Benkum</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Mediah/Clothe_true.JPG">
      </mat-grid-tile>

      <!-- Médicaments -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Médicaments</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Lashir</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Mediah/Medic_true.JPG">
      </mat-grid-tile>

      <!-- Nourriture -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Nourriture</h1></mat-card-title>
            <mat-card-subtitle>Pnj : ???</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Mediah/food_true.JPG">
      </mat-grid-tile>

      <!-- Militaire -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Militaire</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Mevo Muranan</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Mediah/Mili_true.JPG">
      </mat-grid-tile>

      <!-- Luxe -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Luxe</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Belgar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Mediah/luxe_true.JPG">
      </mat-grid-tile>

      <!-- Reliques -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Reliques</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Patrigio</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Mediah/relic_true.JPG">
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>

  <!-- Valencia -->
  <mat-tab label="Valencia">
    <mat-grid-list cols="4" rowHeight="1:1">
      <!-- General -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>General</h1></mat-card-title>
            <mat-card-subtitle>Pnj : ???</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Valencia/General_Goods_true.JPG">
      </mat-grid-tile>

      <!-- Matières premières -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Matières premières</h1></mat-card-title>
            <mat-card-subtitle>Pnj : ???</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Valencia/raw_true.JPG">
      </mat-grid-tile>

      <!-- Vêtements -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Vêtements</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Burita Allon</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Valencia/clothe_true.JPG">
      </mat-grid-tile>

      <!-- Médicaments -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Médicaments</h1></mat-card-title>
            <mat-card-subtitle>Pnj : ???</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Valencia/medic_true.JPG">
      </mat-grid-tile>

      <!-- Nourriture -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Nourriture</h1></mat-card-title>
            <mat-card-subtitle>Pnj : ???</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Valencia/food_true.JPG">
      </mat-grid-tile>

      <!-- Militaire -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Militaire</h1></mat-card-title>
            <mat-card-subtitle>Pnj : ???</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Valencia/mili_true.JPG">
      </mat-grid-tile>

      <!-- Luxe -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Luxe</h1></mat-card-title>
            <mat-card-subtitle>Pnj : ???</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Valencia/luxe_true.JPG">
      </mat-grid-tile>

      <!-- Reliques -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Reliques</h1></mat-card-title>
            <mat-card-subtitle>Pnj : ???</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Valencia/relic_true.JPG">
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>

  <!-- Kamasylve -->
  <mat-tab label="Kamasylve"> Content 2 </mat-tab>

  <!-- Drieghan -->
  <mat-tab label="Drieghan"> Content 3 </mat-tab>

  <!-- Montagne de l'hivers -->
  <mat-tab label="Montagne de l'hivers"> Content 3 </mat-tab>
</mat-tab-group>

