<mat-tab-group>
  <mat-tab label="Balenos">
    <mat-grid-list cols="4" rowHeight="1:1">
      <!-- General -->
      <mat-grid-tile>
        <h1>General</h1>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Velia/General_true.JPG">
      </mat-grid-tile>

      <!-- Matières premières -->
      <mat-grid-tile>
        <h1>Matières premières</h1>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Velia/raw_true.JPG">
      </mat-grid-tile>

      <!-- Vêtements -->
      <mat-grid-tile>
        <h1>Vêtements</h1>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Velia/Clothe_true.JPG">
      </mat-grid-tile>

      <!-- Vêtements -->
      <mat-grid-tile>
        <h1>Vêtements</h1>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Velia/Clothe_true.JPG">
      </mat-grid-tile>

      <!-- Médicaments -->
      <mat-grid-tile>
        <h1>Médicaments</h1>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Velia/Medic_true.JPG">
      </mat-grid-tile>

      <!-- Nourriture -->
      <mat-grid-tile>
        <h1>Nourriture</h1>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Velia/Food_true.JPG">
      </mat-grid-tile>

      <!-- Militaire -->
      <mat-grid-tile>
        <h1>Militaire</h1>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Velia/Milit_true.JPG">
      </mat-grid-tile>

      <!-- Luxe -->
      <mat-grid-tile>
        <h1>Luxe</h1>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Velia/luxe_true.JPG">
      </mat-grid-tile>

      <!-- Reliques -->
      <mat-grid-tile>
        <h1>Reliques</h1>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Velia/Relique_true.JPG">
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
  <mat-tab label="Serendia"> Content 2 </mat-tab>
  <mat-tab label="Calpheon"> Content 3 </mat-tab>
  <mat-tab label="Mediah"> Content 2 </mat-tab>
  <mat-tab label="Valencia"> Content 3 </mat-tab>
  <mat-tab label="Kamasylve"> Content 2 </mat-tab>
  <mat-tab label="Drieghan"> Content 3 </mat-tab>
  <mat-tab label="Montagne de l'hivers"> Content 3 </mat-tab>
</mat-tab-group>

