<mat-tab-group>
  <!-- Balenos -->
  <mat-tab label="Balenos">
    <mat-grid-list cols="4" rowHeight="1:1">
      <!-- General -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>General</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Clorince</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Velia/General_true.JPG">
      </mat-grid-tile>

      <!-- Matières premières -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Matières premières</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Velia/raw_true.JPG">
      </mat-grid-tile>

      <!-- Vêtements -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Vêtements</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Velia/Clothe_true.JPG" alt="">
      </mat-grid-tile>

      <!-- Médicaments -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Médicaments</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Velia/Medic_true.JPG">
      </mat-grid-tile>

      <!-- Nourriture -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Nourriture</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Velia/Food_true.JPG">
      </mat-grid-tile>

      <!-- Militaire -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Militaire</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Velia/Milit_true.JPG">
      </mat-grid-tile>

      <!-- Luxe -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Luxe</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Velia/luxe_true.JPG">
      </mat-grid-tile>

      <!-- Reliques -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Reliques</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Velia/Relique_true.JPG">
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>

  <!-- Serendia -->
  <mat-tab label="Serendia">
    <mat-grid-list cols="4" rowHeight="1:1">
      <!-- General -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>General</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Heidel/Gene_true.JPG">
      </mat-grid-tile>

      <!-- Matières premières -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Matières premières</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Heidel/Raw_true.JPG">
      </mat-grid-tile>

      <!-- Vêtements -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Vêtements</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Heidel/Clothe_true.JPG">
      </mat-grid-tile>

      <!-- Médicaments -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Médicaments</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Heidel/Medic_true.JPG">
      </mat-grid-tile>

      <!-- Nourriture -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Nourriture</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Heidel/food_true.JPG">
      </mat-grid-tile>

      <!-- Militaire -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Militaire</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Heidel/Milit_true.JPG">
      </mat-grid-tile>

      <!-- Luxe -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Luxe</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Heidel/Luxe_true.JPG">
      </mat-grid-tile>

      <!-- Reliques -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Reliques</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Heidel/relique_true.JPG">
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>

  <!-- Calpheon -->
  <mat-tab label="Calpheon">
    <mat-grid-list cols="4" rowHeight="1:1">
      <!-- General -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>General</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Calpheon/Gene_true.JPG">
      </mat-grid-tile>

      <!-- Matières premières -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Matières premières</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Calpheon/Raw_true.JPG">
      </mat-grid-tile>

      <!-- Vêtements -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Vêtements</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Calpheon/clothe_true.JPG">
      </mat-grid-tile>

      <!-- Médicaments -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Médicaments</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Calpheon/Medic_true.JPG">
      </mat-grid-tile>

      <!-- Nourriture -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Nourriture</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Calpheon/Food_true.JPG">
      </mat-grid-tile>

      <!-- Militaire -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Militaire</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Calpheon/Mili_true.JPG">
      </mat-grid-tile>

      <!-- Luxe -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Luxe</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Calpheon/Luxe_true.JPG">
      </mat-grid-tile>

      <!-- Reliques -->
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Reliques</h1></mat-card-title>
            <mat-card-subtitle>Pnj : Bahar</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <img class="tile-image" src="../../assets/images/Calpheon/Relic_true.JPG">
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>

  <!-- Mediah -->
  <mat-tab label="Mediah"> Content 2 </mat-tab>

  <!-- Valencia -->
  <mat-tab label="Valencia"> Content 3 </mat-tab>

  <!-- Kamasylve -->
  <mat-tab label="Kamasylve"> Content 2 </mat-tab>

  <!-- Drieghan -->
  <mat-tab label="Drieghan"> Content 3 </mat-tab>

  <!-- Montagne de l'hivers -->
  <mat-tab label="Montagne de l'hivers"> Content 3 </mat-tab>
</mat-tab-group>

